[submodule "Vendor/Nimbus"]
	path = Vendor/Nimbus
	url = https://github.com/jverkoey/nimbus.git
[submodule "Vendor/ViewDeck"]
	path = Vendor/ViewDeck
	url = https://github.com/Inferis/ViewDeck.git
[submodule "Vendor/SVPullToRefresh"]
	path = Vendor/SVPullToRefresh
	url = https://github.com/samvermette/SVPullToRefresh.git
[submodule "Vendor/DOUAudioStreamer"]
	path = Vendor/DOUAudioStreamer
	url = https://github.com/douban/DOUAudioStreamer.git
[submodule "Vendor/RaptureXML"]
	path = Vendor/RaptureXML
	url = https://github.com/ZaBlanc/RaptureXML.git
